{% extends "base.html" %}

{% block content%}

<div class="container-fluid">

	<div class="content offset-1 col-10">

		<h1>Hello, {{ name }}.</h1>

		<form id="post"method="POST">
			<input id="textarea" type="textarea" name="message" value="{{ message }}" placeholder="{{ quote }}">
			<input class="submitButton" type="submit" value="submit" />
		</form>

	</div>
</div>
<div class="container-fluid">
	{% for entry in messages %}
	<div class="content offset-1 col-10">
		<h3>{{ entry.message }}</h3>
		{% for user in users %}
		{% if entry.owner_id == user.id %}
		<p>{{ user.f_name + " " + user.l_name }} posted at {{ entry.time }}</p>
		{% endif %}
		{% endfor %}
		</div>
	{% endfor %}
</div>

{% endblock %}
